@model IEnumerable<Category>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                @foreach (var category in Model)
                {
                <li class="nav-item ">
                    <a class="nav-link" asp-controller="Home" asp-action="Category" asp-route-id="@category.Id">@category.Name</a>
                </li>
                }
                
            </ul>
        </div>
    </div>
</nav>




