   <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="#">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Web</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Mobil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Masaüstü</a>
                        </li>
                    </ul>
                </div>


               @await  Component.InvokeAsync("SearchBlog")
            </div>
        </nav>
